<!DOCTYPE html>
<html>

<head>
    <title>Bike Share Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
    .vertical-center {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .logo {
        background-image: url("{{ url_for('static', filename='logo.png') }}");
        background-repeat: no-repeat;
        background-size: 14cm;
        background-attachment: fixed;
        background-position: center;
        padding: 2cm;
    }

    .margin {
        box-shadow: 1px;
        margin: 0 3cm;
    }
</style>

<body>
    <div class="vertical-center">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="row align-items-center">
                    <div class="col-5 logo">
                        <h1 class="display-5 text-info">Prediction of <br>Bike Usage in a City</h1>
                        <h3 class="lead">Depending on the weather and time</h3>
                        <h5 class="display-6">CS471 Machine Learning BESE-11<br> 2K20 A</h5>
                        <br><br><br><br><br><br><br><br><br><br><br>
                        <ul class="list-unstyled text-end lead">
                            <li>Hadia Tarik &emsp;&emsp;335952</li>
                            <li>Misbah Noor Awan &emsp;&emsp;333811</li>
                            <li>Muhammad Ali Usman &emsp;&emsp;332608</li>
                        </ul>
                    </div>
                    <div class="col-4 border-info border-end border-start">
                        <form id="prediction-form" action="/predict" method="post" style="padding:30px;">
                            <h1 class="display-5 text-info text-center" style="padding: 50px 0;" >Enter Values for Attributes</h1>
                            <div class="mb-3">
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <label for="t1" class="form-label">Real Temperature <span
                                                class="form-text">(°C)</span></label>
                                        <input type="number" class="form-control shadow-sm" name="t1" id="t1" step="any"
                                            required><br>
                                    </div>
                                    <div class="col-5">
                                        <label for="t2" class="form-label">Feels Like Temperature <span
                                                class="form-text">(°C)</span></label>
                                        <input type="number" class="form-control shadow-sm" name="t2" id="t2" step="any"
                                            required><br>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <label for="season" class="form-label">Season</label>
                                        <select name="season" id="season" required class="form-select shadow-sm"
                                            aria-label="Default select example">
                                            <option value="0">Spring</option>
                                            <option value="1">Summer</option>
                                            <option value="2">Fall</option>
                                            <option value="3">Winter</option>
                                        </select><br>

                                    </div>
                                    <div class="col-5">
                                        <label for="weather_code" class="form-label">Weather Code</label>
                                        <select name="weather_code" id="weather_code" required class="form-select shadow-sm"
                                            aria-label="Default select example">
                                            <option value="1">Clear</option>
                                            <option value="2">Scattered Clouds / Few Clouds</option>
                                            <option value="3">Broken Clouds</option>
                                            <option value="4">Cloudy</option>
                                            <option value="7">Rain / Light Rain Shower / Light Rain</option>
                                            <option value="99">Rain with Thunderstorm</option>
                                            <option value="99">Snowfall</option>
                                            <option value="99">Freezing Fog</option>
                                        </select><br>
                                    </div>
                                </div>

                            </div>
                            <div class="mb-3">
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <label for="hum" class="form-label">Humidity <span
                                                class="form-text">(%)</span></label>
                                        <input type="number" name="hum" id="hum" step="any" min="0" max="100" required
                                            class="form-control shadow-sm"><br>
                                    </div>
                                    <div class="col-5">
                                        <label for="wind_speed" class="form-label">Wind Speed <span
                                                class="form-text">(Km/h)</span></label>
                                        <input type="number" name="wind_speed" id="wind_speed" step="any" required
                                            class="form-control shadow-sm"><br>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <label for="is_holiday" class="form-label"
                                            class="form-check-label">Holiday</label>
                                        <input type="checkbox" name="is_holiday" id="is_holiday" value="1"
                                            class="form-check-input shadow-sm">
                                    </div>
                                    <div class="col-5">
                                        <label for="is_weekend" class="form-label"
                                            class="form-check-label">Weekend</label>
                                        <input type="checkbox" name="is_weekend" id="is_weekend" value="1"
                                            class="form-check-input shadow-sm">
                                    </div>
                                </div>

                            </div>

                            <div class="mb-3">
                                <div class="row justify-content-center">
                                    <div class="col-3">
                                        <label for="month" class="form-label">Month <span
                                                class="form-text">(1-12)</span>:</label>
                                        <input type="number" name="month" id="month" min="1" max="12" required
                                            class="form-control shadow-sm">

                                    </div>
                                    <div class="col-4">
                                        <label for="day_in_week" class="form-label">Day in Week <span
                                                class="form-text">(0-6)</span>:</label>
                                        <input type="number" name="day_in_week" id="day_in_week" min="0" max="6"
                                            required class="form-control shadow-sm">
                                    </div>
                                    <div class="col-3">
                                        <label for="hour" class="form-label">Hour in Day <span
                                                class="form-text">(0-23)</span>:</label>
                                        <input type="number" name="hour" id="hour" min="0" max="23" required
                                            class="form-control shadow-sm">
                                    </div>
                                </div>

                            </div>
                            <div class="mb-3">
                                <div class="row justify-content-end">
                                    <div class="col-4">
                                        <i class="fa-regular fa-lightbulb"></i>
                                        <button type="submit" class="btn btn-lg btn-outline-info">Predict &nbsp;
                                            &nbsp;➤</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-3">
                        <div class="">
        
                            <h1 class="display-5 text-info text-center">Prediction<img src="{{url_for('static', filename='wind.png')}}" style="width:2cm;"/> </h1>
                            <div id="prediction-result" class="display-6 text-center border border-muted margin"></div>
                        </div>
                        <div class="">
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        const form = document.getElementById('prediction-form');
        const resultDiv = document.getElementById('prediction-result');

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            const t1 = parseFloat(document.getElementById('t1').value);
            const t2 = parseFloat(document.getElementById('t2').value);
            const hum = parseFloat(document.getElementById('hum').value);
            const wind_speed = parseFloat(document.getElementById('wind_speed').value);
            const weather_code = parseFloat(document.getElementById('weather_code').value);
            const is_holiday = document.getElementById('is_holiday').checked ? 1 : 0;
            const is_weekend = document.getElementById('is_weekend').checked ? 1 : 0;
            const season = parseFloat(document.getElementById('season').value);
            const month = parseInt(document.getElementById('month').value);
            const day_in_week = parseInt(document.getElementById('day_in_week').value);
            const hour = parseInt(document.getElementById('hour').value);

            const inputData = [t1, t2, hum, wind_speed, is_holiday, is_weekend];
            const catData = [weather_code, season, month, day_in_week, hour];


            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'data': inputData,
                    'categorical_data': catData
                })
            })
                .then(response => response.json())
                .then(data => {
                    resultDiv.textContent = Math.round(data[0] * 100)/100;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>